
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;400&display=swap');

body {
    background-color: limegreen;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: maroon;
    font-size: 20px;
}




